
#menu .menu  {
    max-height: 0;
    transition: max-height .3s ease-out ;
    visibility:collapse;
   /*  display: none; */

}


#sideNav .menu-icon {
    padding: 1.75rem 1.25rem;
    position: relative;
    float: right;
    cursor: pointer;
}

#sideNav .menu-icon .nav-icon{
    background-color:gray ;
    display: block;
    width: 1.3rem;
    height: .125rem;
    position: relative;
    transition: background-color .0s ease-out;
}



#sideNav .menu-icon .nav-icon::before,
#sideNav .menu-icon .nav-icon::after {
    background-color: gray;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out;
    position: absolute;
    
}

#sideNav .menu-icon .nav-icon::before {
    top: .3125rem;
}
#sideNav .menu-icon .nav-icon::after {
    top: -.3125rem;
}

#sideNav .menu-btn {
    display: none;
}
#sideNav .menu-btn:checked ~ #menu .menu  {
    max-height: 15rem;
    visibility: visible;
    display: block;

}

#sideNav .menu-btn:checked ~ .menu-icon .nav-icon {
    background-color: transparent;
}
#sideNav .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}
#sideNav .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}




@media screen and (Min-width: 992px) {

    #sideNav .menu-btn {
        display: none;
    }

    #sideNav .menu-icon {
        display: none;
    }
    #menu .menu {
        visibility: visible;
        max-height: 100vh;
        transition: max-height .0s ease-out ;
        display:flex;
    }

}